save-exact=true
engine-strict=true
# O trecho de código save-exact é uma opção de configuração em um arquivo .npmrc. Ele determina se deve salvar a versão exata de um pacote ao instalar dependências usando o npm. Se save-exact estiver definido como true, a versão do pacote será salva exatamente, sem quaisquer atualizações de compatibilidade ou correções. Se estiver definido como false, a versão do pacote pode ser atualizada para a versão mais recente compatível durante a instalação.
# A configuração engine-strict no arquivo .npmrc é usada para impor uma versão rígida do Node.js. Quando essa configuração está habilitada, o npm instalará apenas pacotes que são compatíveis com a versão do Node.js que você está executando. Isso ajuda a prevenir problemas que podem ocorrer ao usar pacotes que não são compatíveis com a versão do Node.js que você está usando.